.container {
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 300px;
}


button {
  height: 60px;
}

.buttons {
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    width: 300px;
    
    }

textarea {
    width: 100%; 
    box-sizing: border-box;
    height: 150px 
}


.answerarea { 
    margin-left: 400px;
    margin-top: -770px;        
    display: flex;
    flex-direction:column;
    gap: 10px; 
    width: 300px; 
    field-sizing: content;
    min-height: 15h;
    
}
